@{
    ViewData["Title"] = "Entity Operations";
}

<h2>Entity Operations</h2>
<ul>
    <li><a href="/Entity/Add">Record Add</a></li>
    <li><a href="/Entity/Delete">Record Delete</a></li>
    <li><a href="/Entity/List">Record List</a></li>
    <li><a href="/Entity/Search">Record Search</a></li>
</ul>