@{
    ViewData["Title"] = "Search Records";
}

<div class="container mt-5 animate__animated animate__fadeIn">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Search Records</h2>
            <form asp-action="Search" class="mt-4">
                <div class="form-group">
                    <label>Name</label>
                    <input name="name" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Search</button>
            </form>
        </div>
    </div>
</div>