@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron text-center animate__animated animate__fadeIn">
    <h1 class="display-4 animate__animated animate__bounceInDown">Mobility International CRUD Project Case</h1>
    <p class="lead animate__animated animate__fadeInUp">Made by Mert ERGÜN</p>
    <hr class="my-4 animate__animated animate__fadeIn">
    <p class="animate__animated animate__fadeInUp">Use the navigation menu on the left to get started.</p>
    <a class="btn btn-primary btn-lg animate__animated animate__fadeInUp" href="/Entity" role="button">Get Started with Link Entity</a>
    <a class="btn btn-secondary btn-lg animate__animated animate__fadeInUp" href="/WebService" role="button">Get Started with Web Service</a>
</div>