@model Question2.Models.Person

@{
    ViewData["Title"] = "Add Record";
}

<div class="container mt-5 animate__animated animate__fadeIn">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Add Record</h2>
            <form asp-action="Add" class="mt-4">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Add</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}