@{
    ViewData["Title"] = "Web Service Operations";
}

<div class="container mt-5 animate__animated animate__fadeIn">
    <div class="row">
        <div class="col">
            <h2 class="text-center animate__animated animate__bounceInDown">Web Service Operations</h2>
            <div class="list-group mt-4">
                <a href="/WebService/Add" class="list-group-item list-group-item-action animate__animated animate__fadeInUp">Record Add</a>
                <a href="/WebService/Delete" class="list-group-item list-group-item-action animate__animated animate__fadeInUp">Record Delete</a>
                <a href="/WebService/List" class="list-group-item list-group-item-action animate__animated animate__fadeInUp">Record List</a>
                <a href="/WebService/Search" class="list-group-item list-group-item-action animate__animated animate__fadeInUp">Record Search</a>
            </div>
        </div>
    </div>
</div>
