@{
    ViewData["Title"] = "Web Service Operations";
}

<h2>Web Service Operations</h2>
<ul>
    <li><a href="/WebService/Add">Record Add</a></li>
    <li><a href="/WebService/Delete">Record Delete</a></li>
    <li><a href="/WebService/List">Record List</a></li>
    <li><a href="/WebService/Search">Record Search</a></li>
</ul>