@model IEnumerable<Question2.Models.Person>

@{
    ViewData["Title"] = "List Records";
}

<div class="container mt-5 animate__animated animate__fadeIn">
    <div class="row">
        <div class="col">
            <h2 class="text-center">List Records</h2>
            <table class="table table-hover mt-4">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var person in Model)
                    {
                            <tr>
                                <td>@person.Name</td>
                                <td>@person.Surname</td>
                                <td>@person.Age</td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>